/* styles.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Center items horizontally */
}

section {
  padding: 20px;
}

#ramen-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

#ramen-menu img {
  max-width: 200px;
  height: auto;
  cursor: pointer;
  position: relative; /* Position relative for absolute positioning */
}

#ramen-menu img span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 5px;
}

#ramen-detail {
  text-align: center;
  margin-top: 20px; /* Add margin to separate from the images */
}

.detail-image {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  position: relative; /* Position relative for absolute positioning */
}

.detail-image span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 5px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

form {
  width: 300px; /* Adjust the width of the form box */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px; /* Add margin to separate from the images */
  align-self: center; /* Center the form horizontally */
}

form h4 {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

input[type="submit"],
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #555;
}
